# Exclude everything
*

# Except things we do care of
!/.apm/
!/.apm/**
!/.agency/
!/.agency/**
!/docs/
!/docs/**
!/tests/
!/tests/**
!/website/
!/website/**
!/.github/
!/.github/**
!/apm.yml
!/justfile
!/flake.nix
!/flake.lock
!/LICENSE
!/README.md

# APM dependencies
apm_modules/
