# Exclude everything
*

# Except things we do care of
!/.apm/**
!/docs/**
!/website/**
!/.github/workflows/**
!/apm.yml
!/justfile
!/LICENSE
!/README.md
!/opencode.json

# APM dependencies
apm_modules/
